@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.bg-color{
    background-color: #ca946e;
}

#fonte{
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    color: #FDF5E9;
}

  .fonte-size-18{
      font-size: 18pt;
  }

  .fonte-size-13{
      font-size: 13pt;
  }

  .bg-color-art{
      color: #FDF5E9;
  }

  .cor-backgroundmodal{
    background-color: rgba(190, 189, 189, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 60px;
    padding: 0 50px;
    
  }

  .form-group label {
      font-size: 20px;
      color: white;
      
  }


  .tamanho-modal{
      width: 0 800px;
  }
  .botao-color{
    background-color: white;

   }

   .botao-color:hover{
       color: #d4874f;
   }

    
    
      
