<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-7">
          <h1 id='idealizadores' class="text-center cor-texto" >IDEALIZADORES</h1>
          <br>
          <br>
          <div class="card-deck mb-2">
            <!--CARD BARBARA-->
            <div class="card">
              <img
                class="card-img-top"
                src="https://avatars.githubusercontent.com/u/80930646?v=4"
                alt="Imagem de Barbara"
              />
              <div class="card-body">
                <h5 class="card-title">Bárbara Figueirôa</h5>
                <div class="container">
                  <a href="https://www.linkedin.com/in/barbara-figueiroa/" target="_blank"><img class="icone" src="https://imagizer.imageshack.com/v2/50x50q90/922/JMUwSI.png"> </a>
                  <a href="https://github.com/barbarafigueiroa/" target="_blank"><img class="icone" src="https://imagizer.imageshack.com/v2/50x50q90/922/CK3gDk.png"> </a>
                  </div>
              
              </div>

            </div>
            <!--CARD CAMILA-->
            <div class="card">
              <img
                class="card-img-top"
                src="https://i.imgur.com/etrT9I3.jpg?1"
                alt="Imagem de Camila"
              />
              <div class="card-body">
                <h5 class="card-title">Camila Bazante</h5>
                <div class="container">
                  <a href="https://www.linkedin.com/in/camilabazante/" target="_blank"><img class="icone" src="https://imagizer.imageshack.com/v2/50x50q90/922/JMUwSI.png"> </a>
                  <a href="https://github.com/Camibaza" target="_blank"><img class="icone" src="https://imagizer.imageshack.com/v2/50x50q90/922/CK3gDk.png"> </a>
                  </div>
              </div>
            </div>
            <!--CARD FERNANDA-->
            <div class="card">
              <img
                class="card-img-top"
                src="https://avatars.githubusercontent.com/u/81785959?v=4"
                alt="Imagem de Fernanda"
                          
              
              />
              <div class="card-body">
                <h5 class="card-title">Fernanda Azoubel</h5>
                <div class="container">
                  <a href="https://www.linkedin.com/in/azoubelfernanda/" target="_blank"><img class="icone" src="https://imagizer.imageshack.com/v2/50x50q90/922/JMUwSI.png"> </a>
                  <a href="https://github.com/azfernanda" target="_blank"><img class="icone" src="https://imagizer.imageshack.com/v2/50x50q90/922/CK3gDk.png"> </a>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-5">
          <div class="card-deck">
           
            <div class="card">
              <img
                class="card-img-top"
                src="https://github.com/MarceloNegromonte.png"
                alt="Imagem de Marcelo"
              />
              <div class="card-body">
                <h5 class="card-title f-16">Marcelo Negromonte</h5>
                <div class="container">
                  <a href="https://www.linkedin.com/in/marcelo-negromonte/" target="_blank"><img class="icone" src="https://imagizer.imageshack.com/v2/50x50q90/922/JMUwSI.png"> </a>
                  <a href="https://github.com/MarceloNegromonte/" target="_blank"><img class="icone" src="https://imagizer.imageshack.com/v2/50x50q90/922/CK3gDk.png"> </a>
                  </div>
              </div>
            </div>
            <div class="card">
              <img
                class="card-img-top"
                src="https://github.com/renomariocosme.png"
                alt="Imagem de Renomario"
              />
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Renomário Cosme</h5>
                <div class="container">
                  <a href="https://www.linkedin.com/in/renomariocosme/" target="_blank"><img class="icone" src="https://imagizer.imageshack.com/v2/50x50q90/922/JMUwSI.png"> </a>
                  <a href="https://github.com/Renomariocosme/" target="_blank"><img class="icone" src="https://imagizer.imageshack.com/v2/50x50q90/922/CK3gDk.png"> </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
</div>