<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-7">
          <h1 id='idealizadores' >IDEALIZADORES</h1>
          <br>
          <br>
          <div class="card-deck mb-2">
            <!--CARD BARBARA-->
            <div class="card">
              <img
                class="card-img-top"
                src="https://avatars.githubusercontent.com/u/80930646?v=4"
                alt="Imagem de Barbara"
              />
              <div class="card-body">
                <h5 class="card-title">Bárbara Figueirôa</h5>
                <p class="card-text">
                  <small class="text-muted">DEV FULL STACK JR.
                </small>
                </p>
                <p class="card-text">
                  <small class="text-muted">REDES SOCIAIS
                </small>
                </p>
                <ul class="social-network">
                  <li>
                      <a href="https://www.instagram.com/diariodeumadev_/" target="_blank" class="icoInstagram">
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                  </li>

                  <li>
                      <a href="https://www.linkedin.com/in/barbara-figueiroa/" target="_blank" class="icoLinkedin">
                          <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                  </li>

                  <li>
                      <a href="https://github.com/barbarafigueiroa" target="_blank" class="icoGithub">
                          <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                  </li>

              </ul>
              </div>

            </div>
            <!--CARD CAMILA-->
            <div class="card">
              <img
                class="card-img-top"
                src="https://avatars.githubusercontent.com/u/91260281?v=4"
                alt="Imagem de Camila"
              />
              <div class="card-body">
                <h5 class="card-title">Camila Bazante</h5>
                <p class="card-text">
                  <small class="text-muted">DEV FULL STACK JR.</small>
                </p>
                <p class="card-text">
                  <small class="text-muted">REDES SOCIAIS
                </small>
                </p>
              </div>
            </div>
            <!--CARD DANILLO-->
            <div class="card">
              <img
                class="card-img-top"
                src="https://github.com/Lillow.png
                          "
                alt="Imagem de Danillo"
              />
              <div class="card-body">
                <h5 class="card-title">Danillo Silva</h5>
      
                <p class="card-text">
                  <small class="text-muted">DEV FULL STACK JR.</small>
                </p>
                <p class="card-text">
                  <small class="text-muted">REDES SOCIAIS
                </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-7">
          <div class="card-deck">
            <div class="card">
              <img
                class="card-img-top"
                src="https://avatars.githubusercontent.com/u/81785959?v=4"
                alt="Imagem de Fernanda"
              />
              <div class="card-body">
                <h5 class="card-title">Fernanda Azoubel</h5>
                <p class="card-text">
                  <small class="text-muted">DEV FULL STACK JR.</small>
                </p>
                <p class="card-text">
                  <small class="text-muted">REDES SOCIAIS
                </small>
                </p>
              </div>
            </div>
            <div class="card">
              <img
                class="card-img-top"
                src="https://github.com/MarceloNegromonte.png"
                alt="Imagem de Marcelo"
              />
              <div class="card-body">
                <h5 class="card-title f-16">Marcelo Negromonte</h5>
                <p class="card-text">
                  <small class="text-muted">DEV FULL STACK JR.</small>
                </p>
                <p class="card-text">
                  <small class="text-muted">REDES SOCIAIS
                </small>
                </p>
              </div>
            </div>
            <div class="card">
              <img
                class="card-img-top"
                src="https://github.com/renomariocosme.png"
                alt="Imagem de Renomario"
              />
              <div class="card-body">
                <h5 class="card-title">Renomário Cosme</h5>
                <p class="card-text">
                  <small class="text-muted">DEV FULL STACK JR.</small>
                </p>
                <p class="card-text">
                  <small class="text-muted">REDES SOCIAIS
                </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>      
</div>