<div class="card m-5 mb-3 col-md-8 mx-auto">
    <div class="card-body">
        <h2 class="card-title text-center">Cursos para empreendedores</h2>
        <div class="text-center"><img src="https://imagizer.imageshack.com/v2/800x600q90/924/Kuy3Lb.png">
        </div>
        <br>
        <p>Nesse post iremos listar alguns cursos que irão facilitar a jornada do pequeno empreendedor a melhorar seu
            negócio.
        </p>
        <h5>FGV</h5>
        <li>
            <a href="https://educacao-executiva.fgv.br/cursos/online/curta-media-duracao-online/publicidade-e-consumo-line"
                target="_blank">Publicidade e Consumo On-line</a>
        </li>
        <li>
            <a href="https://educacao-executiva.fgv.br/cursos/online/curta-media-duracao-online/fundamentos-de-marketing"
                target="_blank">Fundamentos de Marketing</a>
        </li>
        <li>
            <a href="https://educacao-executiva.fgv.br/cursos/online/curta-media-duracao-online/seguranca-digital"
                target="_blank">Segurança Digital
            </a>
        </li>
        <br>
        <h5>Fundação Bradesco</h5>
        <li>
            <a href="https://www.ev.org.br/cursos/empreendedorismo-e-inovacao" target="_blank">Empreendedorismo e
                Inovação</a>
        </li>
        <li>
            <a href="https://www.ev.org.br/cursos/atendimento-ao-publico" target="_blank">Atendimento ao Público</a>
        </li>
        <li>
            <a href="https://www.ev.org.br/cursos/microsoft-excel-2013-basico" target="_blank">Microsoft Excel 2013 -
                Básico</a>
        </li>
        <br>
        <h5>Eu Capacito</h5>
        <li>
            <a href="https://eucapacito.com.br/curso-ec/empreendendo-para-ser-encontrado-por-clientes/"
                target="_blank">Empreendendo para ser encontrado por clientes</a>
        </li>
        <li>
            <a href="https://eucapacito.com.br/curso-ec/gestao-financeira-de-empresas/" target="_blank">Gestão
                financeira de empresas</a>
        </li>
        <li>
            <a href="https://eucapacito.com.br/curso-ec/fundamentos-do-marketing-digital/" target="_blank">Fundamentos
                do Marketing Digital
            </a>
        </li>
        <br>
        <h5>SEBRAE</h5>
        <li>
            <a href="https://www.sebrae.com.br/sites/PortalSebrae/cursosonline/artesao-empreendedor-nivel-1,1a6e9e1cbcb3c710VgnVCM100000d701210aRCRD"
                target="_blank">Artesão empreendedor: nível 1</a>
        </li>
        <li>
            <a href="https://www.sebrae.com.br/sites/PortalSebrae/cursosonline/jovem-empreendedor-no-campo,e11233395ac59710VgnVCM100000d701210aRCRD"
                target="_blank">Jovem empreendedor no campo</a>
        </li>
        <li>
            <a href="https://www.sebrae.com.br/sites/PortalSebrae/cursosonline/inovacao-pos-pandemia,f6fcadea33c4c710VgnVCM100000d701210aRCRD"
                target="_blank">Inovação pós-pandemia</a>
        </li>
        <p class="card-text text-center"><small class="text-muted">postado por: Artemanha</small></p>
    </div>
</div>

<div class="card m-5 mb-3 col-md-8 mx-auto">
    <div class="card-body">
        <h2 class="card-title text-center">Objetivo de Desenvolvimento Sustentável</h2>
        <div class="text-center"><img src="https://imagizer.imageshack.com/v2/800x600q90/922/Nk8onf.png">
        </div>
        <br>

        <h5>Como as Nações Unidas apoiam os Objetivos de Desenvolvimento Sustentável no Brasil</h5>
        <p>Desenvolvimento Sustentável no Brasil
            A ONU e seus parceiros no Brasil estão trabalhando para atingir os Objetivos de Desenvolvimento Sustentável.
            São 17 objetivos ambiciosos e interconectados que abordam os principais desafios de desenvolvimento
            enfrentados por pessoas no Brasil e no mundo.</p>
        <h5>Os Objetivos de Desenvolvimento Sustentável no Brasil</h5>
        <p>Os Objetivos de Desenvolvimento Sustentável são um apelo global à ação para
            acabar com a pobreza, proteger o meio ambiente e o clima e garantir que as pessoas,
            em todos os lugares, possam desfrutar de paz e de prosperidade. Estes são os objetivos
            para os quais as Nações Unidas estão contribuindo a fim de que possamos atingir a Agenda 2030 no Brasil.
        </p>
        <h5>Lista dos Objetivos</h5>

        <li><b>Erradicação da Pobreza</b>: Acabar com a pobreza em todas as suas formas, em todos os lugares.</li>
        <li><b>Fome Zero e Agricultura Sustentável</b>: Acabar com a fome, alcançar a segurança alimentar e melhoria da
            nutrição e promover a agricultura sustentável.</li>
        <li><b>Saúde e Bem Estar</b>: Assegurar uma vida saudável e promover o bem-estar para todos, em todas as idades.</li>
        <li><b>Educação de Qualidade</b>: Assegurar a educação inclusiva e equitativa de qualidade, e promover oportunidades de aprendizagem ao
            longo da vida para todos.</li>
        <li><b>Igualdade de Gênero</b>: Alcançar a igualdade de gênero e empoderar todas as mulheres e meninas.</li>
        <li><b>Água Potável e Saneamento</b>: Assegurar a disponibilidade e a gestão sustentável da água e saneamento para todos.</li>
        <li><b>Energia Acessível e Limpa</b>:
            Assegurar o acesso confiável, sustentável, moderno e a preço acessível à energia para todos.</li>
        <li><b>Trabalho Decente e Crescimento Econômico</b>: Promover o crescimento econômico sustentado, inclusivo e sustentável, o emprego pleno e produtivo e o
            trabalho decente para todos.</li>
        <li><b>Indústria Inovação e Infraestrutura</b>: Construir infraestruturas resilientes, promover a industrialização inclusiva e sustentável e fomentar
            a inovação.</li>
        <li><b>Redução das Desigualdades</b>: Reduzir a desigualdade dentro dos países e entre eles.</li>
        <li><b>Cidades e Comunidades Sustentáveis</b>: Tornar as cidades e os assentamentos humanos inclusivos, seguros, resilientes e sustentáveis.</li>
        <li><b>Consumo e Produção Responsáveis</b>: Assegurar padrões de produção e de consumo sustentáveis.
        </li>
        <li><b>Ação Contra a Mudança Global do Clima</b>: Tomar medidas urgentes para combater a mudança do clima e seus impactos.</li>
        <li><b>Vida na Água</b>: Acabar com a pobreza em todas as suas formas, em todos os lugares.</li>
        <li><b>Vida Terrestre</b>: Proteger, recuperar e promover o uso sustentável dos ecossistemas terrestres, gerir de forma sustentável as florestas, combater a desertificação, deter e reverter a degradação da terra e deter a perda.</li>
        <li><b>Paz, Justiça e Instituições Eficazes</b>: Promover sociedades pacíficas e inclusivas para o desenvolvimento sustentável, proporcionar o acesso à justiça para todos e construir instituições eficazes, responsáveis e inclusivas em todos os níveis.</li>
        <li><b>Parcerias e Meios de Implementação</b>: Fortalecer os meios de implementação e revitalizar a parceria global para o desenvolvimento sustentável.</li>
       <br>
       <p>fontes: 
           <li><a href="https://brasil.un.org/pt-br/sdgs" target="_blank">https://brasil.un.org/pt-br/sdgs</a></li>
           <li><a href="https://www.pactoglobal.org.br/ods" target="_blank">https://www.pactoglobal.org.br/ods</a></li>
           
        <p class="card-text text-center"><small class="text-muted">postado por: Artemanha</small></p>
    </div>
</div>
